*{
    background-color: black;
}
h1{
    text-align: center;
    font-family: 'Tilt Prism', cursive;
    font-size: 55px;
    color: white;
    letter-spacing: 5vmin;
    align-items: center;
    justify-content: center;
    position:relative;
    display: flex;
    text-align: center;
    margin-left: 75px;
}
.board {
    border-radius: 50%;
    height: 350px;
    width: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: inset silver;
    border-width: 3vmin;
}

.board div {
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.board div:hover {
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform: scale(1.02);
}

#gameInfo:hover{
    transform: scale(.95);
}

#red {
    background-color: red;
    opacity: .50;
    border-top-right-radius: 100%;
    top:0;
    right: 0;
    border:solid black;
    border-top: 0;
    border-right: 0;
}
#yellow{
    background-color: yellow;
    opacity: .50;
    border-top-left-radius: 100%;
    top: 0%;
    left: 0%;
    border: solid black  ;
    border-top: 0;
    border-left: 0;
}
 
#green {
    background-color: green;
    opacity: .50;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 100%;
    border:solid black;
    border-bottom: 0;
    border-right: 0;
}

#blue {
    background-color: blue;
    opacity: .5;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 100%;
    border:solid black;
    border-bottom: 0;
    border-left: 0;
}


#gameInfo {
    background-color: black;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    position: absolute;
    top: 28%;
    left: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: inset silver;
    border-width: 1vmin;
    text-align: center;
    color: rgb(0,255,65);
    font-size: 25px;
    font-family: 'Amatic SC', cursive;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 0px 0px 30px 1px rgb(0,255,65);
}  

#highlight-red{
    background-color:red;
    border-top-right-radius: 100%;
    top:0;
    right: 0;
    border: solid black;
    box-shadow: 20px -25px 150px 10px red;
    border-top: 0;
    border-right: 0;
}

#highlight-yellow{
    background-color: yellow;
    border-top-left-radius: 100%;
    top: 0%;
    left: 0%;
    border: solid black ;
    box-shadow: -20px -25px 150px 10px yellow;
    border-top: 0;
    border-left: 0;
}

#highlight-green{
    background-color: green;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 100%;
    border: solid black;
    box-shadow: 20px 25px 150px 10px green;
    border-bottom: 0;
    border-right: 0;
}

#highlight-blue {
    background-color:blue;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 100%;
    border: solid black;
    box-shadow: -20px 25px 150px 10px blue;
    border-bottom: 0;
    border-left: 0;
}

.volControl{
    display: inline-flex ;
    position: absolute; 
    bottom: 0;
    padding-bottom:5vmin ;
}

#volumeLabel{
color: white;
}

.volPic{
    width: 5vmin;
    height: 5vmin;
}

.volume{ 
    display: none;
}

.volume:hover {
    display: block;

}

.volPic:hover + .volume{
    display: block;
}

@keyframes pulse{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(.95);
    }
    50%{
        transform: scale(1.01)}
    75%{
        transform: scale(.95);}
    100%{
        transform: scale(1);
}

}